@using famtree.Services;
@model FamilyMember;

@{
  string aspAction = (string)ViewData[Str.AspAction];
  string btnText = (string)ViewData[Str.BtnText];

  List<string> children = Str.ExtractData(Model.Children) ?? new();
  List<string> citiesLived = Str.ExtractData(Model.CitiesLived) ?? new();
  List<string> interests = Str.ExtractData(Model.Interests) ?? new();
  List<string> languages = Str.ExtractData(Model.LanguagesSpoken) ?? new();
}

<script async src="/js/_addOrEditMember.js"></script>

<div id="addOrEditMember">

  <div class="title-wrap">
    <h1>Add Family Member</h1>
  </div>

  <form method="post" asp-controller="FamTree" asp-action="@aspAction" id="famMemberForm">
    <input asp-for="Id" type="hidden" />

    <input asp-for="FirstName" type="text" placeholder="first name" />
    <input asp-for="LastName" type="text" placeholder="last name" />
    <input asp-for="Nickname" type="text" placeholder="nickname" />
    <input asp-for="Pfp" type="text" placeholder="profile picture" />
    <label>Date of Birth</label>
    <input asp-for="DOB" type="date" />
    <label>Date of Passing</label>
    <input asp-for="DOP" type="date" id="DOP" class="disable" />
    <label>Has not passed</label><input asp-for="IsAlive" type="checkbox" id="isAliveCheckbox" checked />
    <!--
      <input asp-for="PartnerId" type="text" placeholder="partner" />
    -->
    <input asp-for="BirthLocation" type="text" placeholder="city of birth" />
    <input asp-for="Occupation" type="text" placeholder="occupation" />
    <input asp-for="PartnersName" type="text" placeholder="partner" />

    <br>

    <div class="list-header-wrap">
      <label>Children:</label>
      <img tabindex="0" src="/icons/Plus.png" class="add-input" data-placeholder="child" />
    </div>
    <div class="list-wrap child-drag-container">
      @for (int i = 0; i < children.Count; i++)
      {
        <div class="list-item-wrap draggable" draggable="true">
          <input type="text" placeholder="child" value="@children[i]" />
          <img tabindex="0" src="/icons/X_512x512.png" class="del-input" />
        </div>
      }
    </div>
    <input id="sendChildrenToServer" asp-for="Children" type="hidden" />

    <br>

    <div hidden id="dataFromServer" data-delimiter="@Str.delimiter"></div>

    <div class="list-header-wrap">
      <label>Cities Lived:</label>
      <img tabindex="0" src="/icons/Plus.png" class="add-input" data-placeholder="city" />
    </div>
    <div class="list-wrap city-drag-container">
      @for (int i = 0; i < citiesLived.Count; i++)
      {
        <div class="list-item-wrap draggable" draggable="true">
          <input type="text" placeholder="city" value="@citiesLived[i]" />
          <img tabindex="0" src="/icons/X_512x512.png" class="del-input" />
        </div>
      }
    </div>
    <input id="sendCitiesToServer" asp-for="CitiesLived" type="hidden" />

    <br>

    <div class="list-header-wrap">
      <label>Interests:</label>
      <img tabindex="0" src="/icons/Plus.png" class="add-input" data-placeholder="interest" />
    </div>
    <div class="list-wrap interest-drag-container">
      @for (int i = 0; i < interests.Count; i++)
      {
        <div class="list-item-wrap draggable" draggable="true">
          <input type="text" placeholder="interest" value="@interests[i]" />
          <img tabindex="0" src="/icons/X_512x512.png" class="del-input" />
        </div>
      }
    </div>
    <input id="sendInterestsToServer" asp-for="Interests" type="hidden" />

    <br>

    <div class="list-header-wrap">
      <label>Languages Spoken:</label>
      <img tabindex="0" src="/icons/Plus.png" class="add-input" data-placeholder="language" />
    </div>
    <div class="list-wrap language-drag-container">
      @for (int i = 0; i < languages.Count; i++)
      {
        <div class="list-item-wrap draggable" draggable="true">
          <input type="text" placeholder="language" value="@languages[i]" />
          <img tabindex="0" src="/icons/X_512x512.png" class="del-input" />
        </div>
      }
    </div>
    <input id="sendLanguagesToServer" asp-for="LanguagesSpoken" type="hidden" />

    <br>
    <label>Education:</label>
    <textarea asp-for="Education" type="text"></textarea>
    <label>Anecdotes:</label>
    <textarea asp-for="Anecdotes" type="text"></textarea>
    <label>Bio:</label>
    <textarea asp-for="Bio" type="text"></textarea>
    <div class="btn-wrap">
      <button type="submit" class="btn">@btnText</button>
      <a asp-controller="FamTree" asp-action="FamTree" class="btn">Back</a>
    </div>
  </form>

</div>
