@using famtree.Services;
@model FamilyMember;

@{
  ViewData["Title"] = "Profile";

  List<string> children = Str.ExtractData(Model.Children);
  List<string> citiesLived = Str.ExtractData(Model.CitiesLived);
  List<string> interests = Str.ExtractData(Model.Interests);
  List<string> languages = Str.ExtractData(Model.LanguagesSpoken);

  //string partnersName = (string)ViewData["partner"];
}

<div id="memberProfile">
  <div class="back-btn-wrap">
    <a class="btn" asp-controller="FamTree" asp-action="FamTree">Back To Family Tree</a>
  </div>

  <div class="title-wrap">
    <h1>@Model.FirstName @Model.LastName</h1>
    @if (string.IsNullOrEmpty(Model.Nickname) == false)
    {
      <h2>"@Model.Nickname"</h2>
    }
  </div>

  <div class="pfp-div">
    <img src="@Model.Pfp">
    <div>@Model.DOB.ToString("d") - @Model.DOP.ToString("d")</div>
    <div><u>Born:</u> @Model.BirthLocation</div>
    <div><u>Partner:</u> @Model.PartnersName</div>
    <div><u>Occupation:</u> @Model.Occupation</div>
    <div><u>Education:</u> @Model.Education</div>
  </div>

  <div class="info-div">

    <div class="left-div">
      <div>Cities Lived: </div>
      <ul>
        @{
          for (int i = 0; i < citiesLived.Count; i++)
          {
            <li>@citiesLived[i]</li>
          }
        }
      </ul>
    </div>

    <div class="middle-div">
      <div>Interests: </div>
      <ul>
        @{
          for (int i = 0; i < interests.Count; i++)
          {
            <li>@interests[i]</li>
          }
        }
      </ul>
    </div>

    <div class="right-div">
      <div>Languages Spoken: </div>
      <ul>
        @{
          for (int i = 0; i < languages.Count; i++)
          {
            <li>@languages[i]</li>
          }
        }
      </ul>
    </div>

  </div>

  <div class="info-div longtext">
    <div>Anecdotes:</div>
    <br>
    <label>@Model.Anecdotes</label>
  </div>

  <div class="info-div longtext">
    <div>Bio:</div>
    <br>
    <label>@Model.Bio</label>
  </div>
</div>
